extends layout.pug
block content 
 
 section#content 
 h2(class="ml-4 pl-2" style={color:days[0].textColor})  Seven Day Forecast
 div.container
  div.row
    div(class="col-sm dayWrapper day1")
        p(class="dayTab p-2" style={color:`rgb(${days[0].backgroundColor})`, background:days[0].textColor}) #{week[0]}
        div(class="dayInnerWrapper" style={color:days[0].textColor})
            img(src=days[0].imgPath)
            div(class="dayWrapperText " style={background:`rgba(${days[0].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[0].weather.description}  
                ul
                    li Avg. Temp: #{weatherForecast.data[0].temp}&deg F
                    li High Temp: #{weatherForecast.data[0].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[0].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[0].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day2")
        p(class="dayTab p-2" style={color:`rgb(${days[1].backgroundColor})`, background:days[1].textColor}) #{week[1]}
        div(class="dayInnerWrapper" style={color:days[1].textColor})
            img(src=days[1].imgPath)
            div(class="dayWrapperText" style={background:`rgba(${days[1].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[1].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[1].temp}&deg F
                    li High Temp: #{weatherForecast.data[1].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[1].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[1].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day3")
        p(class="dayTab p-2" style={color:`rgb(${days[2].backgroundColor})`, background:days[2].textColor}) #{week[2]}
        div(class="dayInnerWrapper" style={color:days[2].textColor})
            img(src=days[2].imgPath)
            div(class="dayWrapperText" style={background:`rgba(${days[2].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[2].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[2].temp}&deg F
                    li High Temp: #{weatherForecast.data[2].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[2].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[2].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day4")
        p(class="dayTab p-2" style={color:`rgb(${days[3].backgroundColor})`, background:days[3].textColor}) #{week[3]}
        div(class="dayInnerWrapper" style={color:days[3].textColor})
            img(src=days[3].imgPath)
            div(class="dayWrapperText" style={background:`rgba(${days[3].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[3].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[3].temp}&deg F
                    li High Temp: #{weatherForecast.data[3].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[3].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[3].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day5")
        p(class="dayTab p-2" style={color:`rgb(${days[4].backgroundColor})`, background:days[4].textColor}) #{week[4]}
        div(class="dayInnerWrapper" style={color:days[4].textColor})
            img(src=days[4].imgPath)
            div(class="dayWrapperText" style={background:`rgba(${days[4].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[4].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[4].temp}&deg F
                    li High Temp: #{weatherForecast.data[4].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[4].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[4].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day6")
        p(class="dayTab p-2" style={color:`rgb(${days[5].backgroundColor})`, background:days[5].textColor}) #{week[5]}
        div(class="dayInnerWrapper" style={color:days[5].textColor})
            img(src=days[5].imgPath)
            div(class="dayWrapperText" style={ background:`rgba(${days[5].backgroundColor},.65)`})
                p.pl-2 #{weatherForecast.data[5].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[5].temp}&deg F
                    li High Temp: #{weatherForecast.data[5].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[5].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[5].wind_spd}&deg F
                div
    div(class="col-sm dayWrapper day7")
        p(class="dayTab p-2" style={color:`rgb(${days[6].backgroundColor})`, background:days[6].textColor}) #{week[6]}
        div(class="dayInnerWrapper" style={color:days[6].textColor})
            img(src=days[6].imgPath)
            div(class="dayWrapperText" style={ background:`rgba(${days[6].backgroundColor},.65)`})
                p.pl-1 #{weatherForecast.data[6].weather.description}
                ul
                    li Avg. Temp: #{weatherForecast.data[6].temp}&deg F
                    li High Temp: #{weatherForecast.data[6].high_temp}&deg F
                    li Low Temp: #{weatherForecast.data[6].low_temp}&deg F
                    li Wind Speed: #{weatherForecast.data[6].wind_spd}&deg F
                div